<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <div>
    <ul>
      <li style="display: inline;"><a class="nav_bar_item" href="/">Home</a></li>
      <li style="display: inline;"><a class="nav_bar_item" href="http://localhost:4000/top_ten.html">Top 10 Amazing Things You Didn't Know About JP That He is Comfortable Sharing Online</a></li>
    </ul>
  </div>
  <h3 class="blog_title">{{ site.title }}</h3>
  <div class="container">
